<!-- tag::allButValidation[] -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>

<form method="POST" th:action="@{/orders}" th:object="${order}">
    <h1>Order your taco creations!</h1>

    <a id="another" th:href="@{/design}">Design another taco</a><br/>

    <h3>Deliver my taco masterpieces to...</h3>
    <label for="name">Name: </label>
    <input id="name" name="name" type="text"/>
    <br/>

    <label for="street">Street address: </label>
    <input id="street" name="street" type="text"/>
    <br/>

    <label for="city">City: </label>
    <input id="city" name="city" type="text"/>
    <br/>

    <label for="state">State: </label>
    <input id="state" name="state" type="text"/>
    <br/>

    <label for="zip">Zip code: </label>
    <input id="zip" name="zip" type="text"/>
    <br/>

    <h3>Here's how I'll pay...</h3>
    <label for="ccNumber">Credit Card #: </label>
    <input id="ccNumber" name="ccNumber" type="text"/>
    <br/>

    <label for="ccExpiration">Expiration: </label>
    <input id="ccExpiration" name="ccExpiration" type="text"/>
    <br/>

    <label for="ccCVV">CVV: </label>
    <input id="ccCVV" name="ccCVV" type="text"/>
    <br/>

    <input type="submit" value="Submit order"/>
</form>

</body>
</html>